.project-summary:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2), 0 0.5rem 1rem rgba(0,0,0,0.2);
  transform: scale(1.005);
  cursor: pointer;
}

.project-summary:active {
  box-shadow: 0 0 0 rgba(0,0,0,0.2), 0 0 0 rgba(0,0,0,0.2);
  transform: scale(1);
}